html, body {
    width:100vw; 
    background: #fff;
    font-family: "Verdana", Georgia, Serif;
    font-size: 16px;
}
 

 input[type=text], input[type=email], input[type=nameuser] , input[type=password], input[type=date] {
    width: 40vw;
    height: 30px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;

}

select {
    width: 40vw;
    height: 34px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
    
}
 

button[type=submit]{
    margin: 5px auto;
   width: 40vw;
    height: 50px;
    /*background: #09c; */
	background: #75a9ee;
    color: #fff;
    font-family: arial;
    font-size:16px;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #010e06;
    
}



button[type=submit]:focus {
    outline:0;
    padding: 4px 13px;
    border: 4px solid rgb(255, 145, 0);
    color:blue;
    width: 40vw;
}



/* invalid / valid */
input:invalid {
     color: red;
}
input:valid {
    color: green;
}

#container{ 
    display: block;
    padding: 4px;
    width:50vw; 
    margin: 50px auto;
    border: 5px solid #f4f5efe7;
    border-radius: 10px;
    background-color: rgb(219, 240, 224);
    
}
 


#footer {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      border: 0px solid black;
      color: white;
}


#logo {
    width: 70px; /* Width of new image */
    height: 70px; /* Height of new image */
    border:0px solid black;
    border-radius: 2;
    float: right;
    margin-top: -40px;
}

h3 {
	float: left;
    margin-left: 35px;
    color: #070c13;
    font-family: verdana;
    font-size: 14px;
    }

.title {
    color:navy;
    font-size: 40px; 
    border: 0px solid black;
}

.textarea {
    margin: 10px auto; 
    margin-left: 0px;
  display: block;
    width: 350px;
    height: 60px;
    padding: 4px 10px;
    }
    
.block { 
    margin: 5px auto; 
}

.submit { 
    margin: 10 auto; 
    padding-left: 30px;
}


div[class="row"] {
    border: 1px solid black;
}



 /* Device = Tablets, Ipads (portrait) */

/* mobile */
    
    
 @media (min-width: 412px) and (max-width: 732px ) and (orientation: portrait){
}
    /* Device = Tablets, Ipads (landscape) */
 @media (min-width: 412px) and (max-width: 732px ) and (orientation: landscape){
    }
 /* Device = Tablets, Ipads (portrait) */
  @Media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    
  }
  
  /* ##Device = Tablets, Ipads (landscape) */
  
  @Media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  }
  
  /* Most of the Smartphones Mobiles (Portrait) */
  
  @media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    
    #logo{
       
        display: none;
    }

    button[type=submit] {
        width:40vw;
        margin-left: 0px;

    }
}
  


@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    
    #logo{
       
        display: none;
    }



    button[type=submit] {
        width:40vw;
        margin-left: 0px;

    }
}
  

    /* ##Device = Mobiles (Landscape) */
  
  @Media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
  
  }

  .box{
    
   width:80%;
   margin:3vh 10vw 4vh 10vw;  /* top - right - bottom  -left */

}

#leftColumn{
  width:100vw;
  height: 30vh;
  font-size: 3rem;
  height: 40vh;

}
.category{
   font-size: 1.4rem; /* 16px */
   width: 50%;
   margin: 2vh  auto; /* center */
   text-transform: uppercase;
}

.centralBox{
   width: 100vw;
  margin: 0 0 0 0; 
}

#rightColumn{
  width:100%;
}

#bodycontent{
  width:100%;
  height: 140vh;
   
}

.adverticing { 
  margin-top: 4vh;
  width: 90vw;
  text-transform: uppercase;
}

  }